*{
margin: 0;
padding: 0;
box-sizing: border-box;

}




body{
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
background-color: #193f4a; 
overflow: hidden;
}

.container {
position: relative;
width: 100%;
max-width: 1000px;
min-height: 1000px; 
background: rgb(255, 255, 255);
margin: 50px;
display: grid;
grid-template-columns: 1fr 2fr;
box-shadow: rgba(0,0,0,0.1); 
}

.container .left_side {

    position: relative;
    background-color:  #0f1f1f;
    padding: 40px 
}


.profiletext{
position: relative;
display: flex;
flex-direction: column;
align-items: center;
padding-bottom: 20px;
border-bottom: 1px solid rgba(255,255,255,0.2);
}

.profiletext .imgBx{

    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;

}

.profiletext .imgBx img {

position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
object-fit: cover;
}

.profiletext h2 {

color:white;
font-size: 1.5rem;
margin-top: 20px;
text-transform: uppercase;
text-align: center;
font-weight: 600;
line-height: 1.5;
}

.profiletext h2 span {
font-size: 0.8em;
font-weight: 300;

}


.contactinfo {
    padding-top: 40px;
}

.title {
color:white;
text-transform: uppercase;
font-weight: 600;
letter-spacing: 1px;
margin-bottom: 20px;
text-align: center;
}

.contactinfo ul 
{position: relative;}
.contactinfo ul li {
position: relative;
list-style: none;
margin: 10px 0; 
cursor: pointer;
}

.contactinfo ul li .icon {
display: inline-block;
width: 30px; 
font-size: 18px;
color:aqua;
}

.contactinfo ul li span {
    color: #fff;
    font-weight: 300;
}

.contactinfo.education li {
    margin-bottom: 15px;
}
.contactinfo.education h5 {
    color: lightblue;
    font-weight: 500;
}
.contactinfo.education h4:nth-child(2) {
    color:#fff;
    font-weight: 500;
}
.contactinfo.education h4 {
    color:#fff;
    font-weight: 300;
}


.container .right_side  {
    position: relative;
    background-color:  #003147;
    padding: 40px 
}  

.about {
    margin-bottom: 50px;
}

.about:last-child
{margin-bottom: 0;}

.title2 {
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10;
}

p{color:white;}

.about .box {display: flex;
flex-direction: column;
margin: 20px 0;}

.about .box .comp 
{min-width: 150px;}

.about .box .comp h5{
text-transform: uppercase;
color: white;
font-weight: 600;
position: flex;
text-align: left;
}

.aboutme .box {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 150px 1fr;
    align-items: center;
  }
  
  .aboutme .box h4 {
    text-transform: uppercase;
    color: white;
    font-weight: 500;
  }
  
  .aboutme .box .precent {
    position: relative;
    width: 100%;
    height: 10px;
    background: #e0e0e0; 
    border-radius: 5px; 
  }
  
  .aboutme .box .precent div {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #03a9f4; 
    border-radius: 5px; 
  }
  
  .aboutme .box .precent.half div {
    width: 50%;
  }


  .upincoming ul {
    display: grid;
    grid-template-columns: repeat(4,1fr);
  }

  .upincoming ul li {
    list-style: none;
    color: white;
    font-weight: 500;
    margin: 10px 0;
  }

  .upincoming ul li .fa{

    color:#03a9f4;
    font-size: 20px;
    width: 20px;
  }

  @media (max-width: 1000px)
  {
  .container {
    margin: 10px;
    grid-template-columns: repeat(1,1fr);}
    .upincoming ul {grid-template-columns: repeat(2,1fr);}
  }

  @media ( max-width: 600px)

{
    .aboutme .box {flex-direction: column;}

    .aboutme .box .comp {
        margin-bottom: 5px;
        .upincoming ul {grid-template-columns: repeat(1,1fr);}
    }
}


.box-area { 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%;
    overflow: hidden; }

    .box-area li {
        position: absolute;
        display: block;
        list-style: none;
        width: 25px; 
        height: 25px;
        background: rgba(255, 255, 255, 0.5); 
        box-shadow: 0 0 20px 8px rgba(255, 255, 255, 0.7); 
        animation: animate 20s linear infinite;
        bottom: -150px;
        z-index: -1;
    }
    
    .box-area li:nth-child(1) {
    left: 86%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}
.box-area li:nth-child(2)
{left: 12%;
width: 30px;
height: 30px;
animation-delay: 1.5s;
animation-duration:10s;}

.box-area li:nth-child(3)
{left: 70%;
width: 150px;
height: 150px;
animation-delay: 0s;
animation-duration:15s;}

.box-area li:nth-child(4)
{left: 42%;
width: 150px;
height: 150px;
animation-delay: 0s;
}

.box-area li:nth-child(5)
{left: 65%;
width: 40px;
height: 40px;
animation-delay: 0s;
}

.box-area li:nth-child(6)
{left: 15%;
width: 110px;
height: 110px;
animation-delay: 3.5s;
}

@keyframes animate {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
    }
        
    100% {
        transform: translateY(-2000px) rotate(360deg);
        opacity: 1;
    }
    
}

.header {
  position: fixed;
  top: 0; 
  left: 0;
  width: 100%;
  height: 50px; 
  padding: 0 9%; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}
.header::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.4), transparent);
  transition: 1s linear; 
}

.header:hover::before {
  left: 100%;
}



.header.sticky{
  border-bottom: .1rem solid rgba(0, 0, 0, 0.2);
} 

#menu-icon{
  font-size: 3.6rem;
  color:white;
  display: none;
}
.logo {
  font-size: 2.5rem;
  color:white;
  font-weight: 600;
  cursor: default;
  
  } 
  .navbar a {
    font-size: 1rem;
    color:white;
    margin-left: 4rem;
    transition: .5s;
}

.navbar a:hover, .navbar a.active{
  color:gray;
}


@media (max-width: 760px){
  #menu-icon{
      display: block;
  }
  .navbar{
position: absolute;
top:100%;
left:0%;
width: 100%;
padding: 1rem 3%;
background-color:black;
border-top: .1rem solid rgba(0, 0, 0, 0.2);
box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.2);
display: none;
}
.navbar.active{
  display: block;
}

.navbar a{
  display: block;
  font-size: 2rem;
  margin: 3rem 0;
}}

@media screen and (max-width: 768px) {
  body {
    overflow: visible; 
  }
}

.contactinfo a.text {
  color: white; 
  font-size: 24px; 
}